<form action="#" id="form" autocomplete="off" (ngSubmit)="onSubmit()">
  <div class="form_item">
    <label for="name_input" class="form_label">Ваше имя:</label>
    <input
      type="text"
      [(ngModel)]="user.name"
      name="name"
      class="form_input"
      id="name_input"
      required
      autocomplete="off"
    />
  </div>
  <div class="form_item">
    <label for="email_input" class="form_label">Ваш Email:</label>
    <input
      type="email"
      [(ngModel)]="user.email"
      name="email"
      class="form_input _email"
      id="email_input"
      required
      [email]="user.email !== ''"
      #email="ngModel"
      autocomplete="off"
    />
  </div>
  <div class="form_item">
    <label class="form_label"></label>
    <div *ngIf="email.errors?.['email'] && email.touched">
      Поле 'Ваш Email' заполнено не верно!
    </div>
  </div>
  <div class="form_item">
    <label for="phone_input" class="form_label">Ваш телефон:</label>
    <input
      type="number"
      [(ngModel)]="user.phone"
      name="phone"
      class="form_input _phone"
      id="phone_input"
      [pattern]="phonePattern"
      required
      #phone="ngModel"
      autocomplete="off"
    />
  </div>
  <div class="form_item">
    <label class="form_label"></label>
    <div *ngIf="phone.errors?.['pattern'] && phone.touched">
      Поле 'Ваш телефон' заполнено не верно!
    </div>
  </div>
  <div class="form_item">
    <label for="theme_input" class="form_label">Тема:</label>
    <select
      [(ngModel)]="user.theme"
      name="theme"
      class="form_input"
      id="theme_input"
      placeholder="Выберите тему"
    >
      <option value="Техподдержка" selected>Техподдержка</option>
      <option value="Продажи">Продажи</option>
      <option value="Другое">Другое</option>
    </select>
  </div>
  <div class="form_item">
    <label for="message_input" class="form_label">Ваше сообщение:</label>
    <textarea
      name="message"
      [(ngModel)]="user.message"
      class="form_input"
      id="message_input"
      cols="30"
      rows="5"
      required
    ></textarea>
  </div>
  <div class="form_item">
    <label class="form_label"></label>
    <re-captcha
      (resolved)="recaptchaCallback()"
      siteKey="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI"
    ></re-captcha>
  </div>
  <div class="form_item">
    <label class="form_label"></label>
    <button id="submit_button" class="form_button" type="submit" disabled>
      Отправить письмо!
    </button>
  </div>
</form>
